
@import url('https://fonts.googleapis.com/css?family=Montserrat:300i|Notable');

$color-principal:#040404;
$color-secundario:#fd2de0;
$color-terciario:#005584;
$fuente-titulos: Montserrat, sans-serif;
$fuente-secundaria:'Notable', sans-serif;


.banner{
		display: flex;
		align-item: flex-start;
		width: 1354px;
		margin: auto;
		position: relative;
		img{
			max-width: 100%;
		}
	}
.rrss ul{
		display: inline-block;
		float: right;
	    padding-right: 20px;
    
}	
		li{
			display: inline;
			background: none;
			width: 40px;
			height: 40px;
			text-align: center;
			border-radius: 50%;
			padding-top: 10px;
			box-sizing: border-box;
			cursor: pointer;
	}

			#fb{
				background-color: blue;
			}
			#insta{
				background-color: #E80D55;
			}

			#yt{
				background-color: red;
			}

			#spoti{
				background-color: green;
			}

body{
	background-color: $color-principal
}



.discos{
	display: flex;
	justify-content: space-between;
	width: 1222px;

}

.cover-hudson {
	width: 350px;
	img{
		max-width: 100%;
	}
}

.cover-med {
		width: 350px;
	img{
		max-width: 100%;
	}
}

.cover-vac {
		width: 350px;
	img{
		max-width: 100%;
	}
}

footer{
	width: 100%;
	background-color: rgba(163,0,84,1);
	background: include filter-gradient(#a30054, #a30054, horizontal);
	background: include background-image(linear-gradient(left, rgba(163,0,84,1) 5%, rgba(163,0,84,1) 20%, rgba(163,0,84,1) 72%, rgba(136,1,118,1) 100%));
}		


.suscribir{
	display: flex;
	justify-content: center;
}
	.creditos {
		float: right;
		color: $color-secundario;
		font-family: $fuente-titulos;
		font-weight: 700;
}
