
@import url('https://fonts.googleapis.com/css?family=Montserrat:300i|Notable');

$color-principal:#040404;
$color-secundario:#fd2de0;
$color-terciario:#005584;
$fuente-titulos: Montserrat, sans-serif;
$fuente-secundaria:'Notable', sans-serif;


.banner{
	max-width: 1354px;
		height: 350px;
		margin: auto;

}
.imagen-logo{
		max-width: 20000px;
		width: 1354px;
		height: 350px;
		margin: auto;
		position: relative;
	}
body{
	background-color: $color-principal
}

.rrss{
	background-color: color-secundario;
	width: 400px;
	border: none;
	float: right;
}

.discos{
	display: flex;
	justify-content: space-between;
	width: 1222px;

}

.cover-hudson {
	width: 350px;
	img{
		max-width: 100%;
	}
}

.cover-med {
		width: 350px;
	img{
		max-width: 100%;
	}
}

.cover-vac {
		width: 350px;
	img{
		max-width: 100%;
	}
}

footer{
	width: 100%;
	background-color: $color-secundario;
}		


.suscribir{
	display: flex;
	justify-content: center;
}
	.creditos {
		float: right;
		color: $color-secundario;
		font-family: $fuente-titulos;
		font-weight: 700;
}
